.navbarContainer {
  background-color: aqua;
}
.navbarContainer ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.navbarContainer li {
  cursor: pointer;
}

.pending {
  background-color: white;
  color: black;
}

.active {
  background-color: black;
  color: white;
}
